<div class="image-container">
    <%= image_tag("section_svgs/section.svg", alt: "Backgound-image", class: "image")%>
    <div class="overlay-text">
        <span class="overlay-text-one">
            <span class="text-one">We</span>
            <span class="text-two">Shape</span>
            <span class="text-three">Ideas</span>
        </span>
        <span class="overlay-text-two">
            <span class="text-four">Into</span>
            <span class="text-five">Solutions</span>
        </span>

        <div class="circle-container">
          <div class="contact-circle">
            Contact Us Now
          </div>

          <div class="circlar-text">
            <span>Find out more</span>
            <span>Find out more</span>
            <span>Find out more</span>
          </div>
        </div>
    </div>
</div>

<div class="video-container">
    <video controls>
        <source src ="/videos/advert.mp4" type="video/mp4">
    </video>
</div>