<div class="main">
    <div class="main-primary">
        <span class="main-text-header">Who We Are!</span>
        <span class="main-text-sub">Welcome to Trapadi: Where Creativity Meets Innovation...</span>
    </div>
    <div class="main-secondary">
       
        <div class=work-flex>
            <div class="work-content">
                 <span class="main-text-small">We Are Trapadi</span>
                <span class="main-text-pri">we're creators, innovators, and storytellers.</span>
                 <span class="main-text-sec">At Trapadi, we believe that great design goes beyond aesthetics. It's about understanding your brand's essence and crafting experiences that leave a lasting impression. Whether it's a sleek website, a striking logo, or a comprehensive branding strategy, we immerse ourselves in every project, ensuring that every detail is meticulously curated to perfection.</span>
            </div>
            <div image-container>
                <%=image_tag("works_svgs/banner.svg", alt: "Banner Image", class: "logo-banner")%>
            </div>
            
        </div>
    </div>

</div>