.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    position: relative;
}

.image-container img{
    max-width: 75%;
    height: auto;
}

.overlay-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary_white;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Lato", sans-serif;
}

.overlay-text-one,.overlay-text-two{
    display: block;
}

.text-one{
    color: Pry_Red;
}

.text-three{
    color: $Pry-Blue;
}

.text-five{
    color: $primary_yellow;
}

// .circle-container {
//     position: relative;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background: white;
//     text-align: center;
//     line-height: 200px; /* Same as container height */
// }

// .contact-circle {
//     font-weight: bold;
//     z-index: 2;
// }

// .circular-text {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     margin: auto;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transform: rotate(-90deg);
// }

// .circular-text span {
//     transform: rotate(90deg);
//     white-space: nowrap;
// }

.contact-circle {
    position: absolute;
    top: 280px; /* Adjust position as needed */
    left: 50%;
    width: 170px;
    height: 170px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $primary_white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #333333;
    text-align: center;
    box-shadow: 0 0 0 4px $Pry_Red;
}


.circlar-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 180px;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    line-height: 200px;
    font-size: 16px;
    color: $Pry_Red;
    pointer-events: none;
}

.text-circle span {
    position: absolute;
    transform-origin: center;
    white-space: nowrap;
}

.video-container{
    margin: 20px auto;
    width: 90%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

