/*
  General color
*/
$light_grey: #F4F4F4;
$primary_dark_grey: #1F1F1F;
$primary_yellow: #E5BF27;
$white: #fcffef;
$black: #000;
$primary_white: #ffff;
$primary_border: #DFDFDF;
$yellow_border: #E5BF27;
$Pry_Blue:#00ADCD;
$Pry_Red: #DF4036;

/*
  General border line
  button_border_radius is for buttons and input except the complain input
*/
$border_radius: 32px;
$button_border_radius: 16px;